
@use '../../styles/main' as *;


body {
  background-color: $primary-white;
}

.dashboard_container {
  display: grid;
  grid-template-columns: 1fr 350px; 
  gap: 2rem;
  padding: 2rem 0rem;
  height: 92vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; 
}

.calendar_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, calc((100% - 2rem) / 3));
  gap: 1rem;
  overflow-y: auto;
  padding-right: 10px;

  .today_day_card {
    border: 0.2rem solid $calendar-blue;
  }
  
  .day_card {
    height: 100%;
    background: white;
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    overflow: hidden;

    .day_header {
      @include center-all;
      text-align: center;
      color: $calendar-blue;
      font-weight: 700;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      text-transform: capitalize;

      .day_number_span {
        background-color: $calendar-blue;
        color: white;
        padding: 3px;
        width: 1.8em;
        height: 1.8em;
        font-size: 0.8em;
        border-radius: 50%;
        margin-right: 5px;
      }
    
    }
    .day_tasks {
      @include clean-scroll-bar;
      flex: 1;
      padding: 5px;
      min-height: 0;
      overflow-y: auto;
      height: 90%;

      
      .mini_task {
        display: flex;
        align-items: center;
        background: #F3F4F6;
        border-radius: 4px;
        padding: 5px 4px;
        font-size: 0.7rem;
        color: #555;
        position: relative;
        margin-top: 0.7em;
        cursor: pointer;
      
        .bar {
          width: 3px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        span {
          margin-left: 8px;
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .dot {
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }
        &.purple { .bar, .dot { background-color: #8B5CF6; } }
        &.yellow { .bar, .dot { background-color: #FBBF24; } }
        &.green  { .bar, .dot { background-color: #10B981; } }
      }
    }
    
  }
}


.sidebar_tasks {
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;

  h2 {
    @include gradient-text;
    font-size: 1.6em;
    text-align: center;
  }

  .tabs_container {
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;


    button {
      border: none;
      background: transparent;
      padding: 8px 16px;
      border-radius: 10px;
      font-size: 0.8rem;
      cursor: pointer;
      color: $primary-black;
      flex: 1;

      &.active {
        background: linear-gradient(20deg, $darker-blue 0%, $secondary 120%);
        color: white;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(91, 107, 205, 0.3);
      }
    }
  }

  .task_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;

    .sidebar_item {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: translateX(5px);
      }

      .check_circle {
        width: 24px;
        height: 24px;
        border: 2px solid #5B6BCD; // Borda azul
        border-radius: 50%;
      }

      span {
        flex: 1;
        font-weight: 500;
        color: #333;
      }

      .arrow {
        color: #ccc;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .dashboard_container {
    grid-template-columns: 1fr;
    overflow: visible;
    height: auto;
  }
  
  .calendar_grid {
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, calc((100% - 2rem) / 4));
  }
}

@media (max-width: 600px) {
  .calendar_grid {
    grid-template-columns: 1fr; // 1 coluna no celular
  }
}