@use 'colors' as *;

.mesh_gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  overflow: hidden; 
  background-color: $primary-white;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(160px); 
  opacity: 1; 
}

.blob-1 {
  width: 40vw; 
  height: 40vw;
  background-color: $blob;
  animation: move-blob-1 15s ease-in-out infinite;
}

.blob-2 {
  width: 35vw;
  height: 35vw;
  background-color: $blob;
  animation: move-blob-2 10s ease-in-out infinite;
  animation-delay: -5s;
}

@keyframes move-blob-2 {
  0% {
    bottom: 10%;
    right: 0%;
    transform: scale(1.2);
  }
  50% {
    bottom: 15%; 
    right: 10%; 
    transform: scale(1);
  }
  100% {
    bottom: 10%;
    right: 0%;
    transform: scale(1.2);
  }
}

@keyframes move-blob-1 {
  0% {
    bottom: -30%;
    left: -30%;
    transform: scale(1);
  }
  50% {
    bottom: -20%; 
    left: -10%; 
    transform: scale(1.1);
  }
  100% {
    bottom: -30%;
    left: -30%;
    transform: scale(1);
  }
}

