@use './colors' as *;

// centralizar na horizontal e vertical
@mixin center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

// centralizar só na horizontal
@mixin center-x {
  display: flex;
  justify-content: center;
}

// centralizar só na vertical
@mixin center-y {
  display: flex;
  align-items: center;
}

// padrão scrollbar do app
@mixin clean-scroll-bar {
  --sb-track-color: rgba(0, 0, 0, 0.034);
  --sb-thumb-color: #8a9ee0;
  --sb-size: 6px;
  
  &::-webkit-scrollbar {
    width: var(--sb-size)
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }

  @supports not selector(::-webkit-scrollbar) {
    & {
      scrollbar-color: var(--sb-thumb-color)
                      var(--sb-track-color);
    }
  }
}


@mixin gradient-text {
  background: linear-gradient(20deg, $darker-blue 0%, $secondary 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700; 
  display: inline-block;
  font-size: 2em;
}