@use '../../styles/mesh-gradient' as *;
@use '../../styles/main' as *;

.body_div {
    z-index: 1;
    height: 92vh;

    .home_content{
        @include center-all;
        justify-content: space-around;
        height: 92vh;
        width: 100%;
        
        .text_container {
            .text_gradient {
                font-size: 7.5rem;
                font-weight: 400; 
                line-height: 1.1;
                background: linear-gradient(20deg, $darker-blue 0%, $secondary 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: flex;
                flex-direction: column;
            }

            p {
                margin-top: 30px;
                font-size: 1.8em;
                color: $primary-black;
                font-weight: 300;
            }
            margin-bottom: 8vh;
        }
    }
}